PORT_BACKEND=4005
OPENAI_API_KEY=api-key
MOCK=false
VITE_API_URL=http://localhost:4005
MAX_CHARS=280
TIMEOUT_MS=60000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgresadminusers
POSTGRES_PASSWORD=p0stgr3s4dm1nus3rs.POBLADO
POSTGRES_DB=usersdb

MONGO_USER=postgresadminusers
MONGO_PASSWORD=p0stgr3s4dm1nus3rs.POBLADO
MONGO_HOST=grupo5_valdiv-ia_db_2
MONGO_PORT=27017
MONGO_DB=chatdb
MONGO_AUTH_DB=admin

JWT_SECRET=claveultrasegura
CRUD_DETECTOR_URL_BASE=http://crud-detector-api:8089
CONTEXT_URL=http://context-server:8001/context
