POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgresadminusers
POSTGRES_PASSWORD=p0stgr3s4dm1nus3rs.POBLADO
POSTGRES_DB=usersdb
MONGO_INITDB_ROOT_USERNAME=postgresadminusers
MONGO_INITDB_ROOT_PASSWORD=p0stgr3s4dm1nus3rs.POBLADO